<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Examen</title>
    <style>
        .col-sm-12{
            text-align: center;
        }
        #salir{
            text-align: right;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12" id="salir">
            <a href="/examen/logout"><button class="btn btn-warning">Salir</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
        <form action="/examen/materiasPost" method="post">
            <div class="form-group">
                <label for="nombre"></label>
                <input class="form-control" type="text" id="nombre" name="nombre" placeholder="nombre" required>
            </div>
            <div class="form-group">
                <label for="codigo"></label>
                <input class="form-control" type="text" id="codigo" name="codigo" placeholder="codigo" required>
            </div>
            <div class="form-group">
                <label for="descripcion"></label>
                <input class="form-control" type="text" id="descripcion" name="descripcion" placeholder="descripcion" required>
            </div>
            <div class="form-group">
                <label for="activo">activo</label>
                <select name="activo" id="activo">
                    <option value="1">si</option>
                    <option value="0">no</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fechaCreacion">fecha de creacion</label>
                <input class="form-control" type="date" id="fechaCreacion" name="fechaCreacion" required>
            </div>
            <div class="form-group">
                <label for="numeroHorasPorSemana"></label>
                <input class="form-control" type="number" id="numeroHorasPorSemana" name="numeroHorasPorSemana" placeholder="numero de horas por semana" min="0" required>
            </div>
            <div class="form-group">
                <label for="precio"></label>
                <input class="form-control" type="number" id="precio" name="precio" placeholder="precio" min="0" step="0.1" required>
            </div>
            <div class="form-group">
                <label for="estudianteId"></label>
                <input class="form-control" type="hidden" id="estudianteId" name="estudianteId" value="<%=idPadre%>">
            </div>
            <div class="row">
                <div class="col-sm-6">
            <a href="/examen/materias/<%=idPadre%>" class="btn btn-primary btn-block">Cerrar</a>
                </div>
                <div class="col-sm-6">
            <button class="btn btn-success btn-block">Crear</button>
                </div>
            </div>
        </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
</body>
</html>