<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Examen</title>
</head>
<body>
<div class="container">
    <div class="row">
        <form action="/api/examen/login" method="post">
            <label for="nombreUsuario"><%=nombreUsuario%></label>
            <button class="btn btn-warning">Salir</button>
        </form>
    </div>
    <div class="row">
        <form action="/api/examen/pacientePost" method="post">
            <div class="form-group">
                <label for="nombres"></label>
                <input type="text" id="nombres" name="nombres" placeholder="nombres" required>
            </div>
            <div class="form-group">
                <label for="apellidos"></label>
                <input type="text" id="apellidos" name="apellidos" placeholder="apellidos" required>
            </div>
            <div class="form-group">
                <label for="fechaNacimiento">fecha de nacimiento</label>
                <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
            </div>
            <div class="form-group">
                <label for="hijos">hijos</label>
                <input type="number" id="hijos" name="hijos" min="0" required>
            </div>
            <div class="form-group">
                <label for="tieneSeguro">tiene seguro</label>
                <select name="tieneSeguro" id="tieneSeguro">
                    <option value="true" selected>si</option>
                    <option value="false">no</option>
                </select>
            </div>
            <a href='/api/examen/paciente' class="btn btn-primary">Cerrar</a>
            <button class="btn btn-success">Crear</button>
        </form>
</div>
</div>
</body>
</html>