<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estilos</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        /* .css */

        /* selector { [propiedad:valor; propiedad:valor;}*/
        /* selector -> etiqueta */
        h1 {
            color:red;
            background-color:yellow;
        }
        /* selector -> varias etiquetas */
        p, div, h2 {
            color:green;
            background-color:orange;
            font-size: 24px;
            font-weight: 700;
        }
        /* selector -> id */
        #adios {
            color:pink;
            background-color:purple;
        }

        /* selector -> clase */
        .verde {
            color:brown;
            background-color:blue;
        }
        /* importancia del selector -> id > clase.etiqueta > clase > etiqueta */

        p {
            color:orange;
            background-color:green;
        }
        /* clase > clase > clase (la ultima se aplica) */
        .azul {
            color:deepskyblue;
        }

        .morado {
            color:orange;
        }

        .verde {
            color:greenyellow;
        }

        p.verde{
            color: orange;
        }

        p.verde.azul{
            color: black;
        }
        .modelo-cajas{
            margin: 100px;
            border-color: brown;
            border-style: solid;
            border-width: 10px;
            border-right-width: 0px;
            padding: 10px;
        }
         table {
             width: 100%;
         }

        tr {
            border-bottom-style: solid;
            border-bottom-width: 10px;
            border-bottom-color: brown;
        }

    </style>
</head>
<body>

<div class="container">
    <div class="row">
<!--        .col-sm-2*3-->
        <div class="col-sm-2">
            <h1>logo</h1>
        </div>
        <div class="col-sm-7">
            <h1>menu</h1>
        </div>
        <div class="col-sm-3">
            <h1>login</h1>
        </div>

<!--        <div class="col-sm-6">-->
<!--            <h1>sm 6</h1>-->
<!--        </div>-->
<!--        <div class="col-sm-6">-->
<!--            <h1>sm 6</h1>-->
<!--        </div>-->

<!--        <div class="col-md-6">-->
<!--            <h1>md 6</h1>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <h1>md 6</h1>-->
<!--        </div>-->

<!--        <div class="col-lg-6">-->
<!--            <h1>lg 6</h1>-->
<!--        </div>-->
<!--        <div class="col-lg-6">-->
<!--            <h1>lg 6</h1>-->
<!--        </div>-->
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h1>genero de peliculas</h1>
            <table>
                <tr>
                    <td>i</td>
                    <td>accion</td>
                    <td>824</td>
                </tr>
                <tr>
                    <td>i</td>
                    <td>animacion</td>
                    <td>356</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-9">
            <h1>peliculas online</h1>
            <p>Pelisplus.co es un sitio ideal para ver películas y series online.
                Nuestro sistema se preocupa por tener lo último del cine en calidad full HD.
                Para ver una película o serie de televisión puedes usar el buscador en la parte
                superior o seguir uno de los enlaces de genero o año de estreno en la parte izquierda
                del sitio, luego el enlace te llevará al reproductor donde solo tienes que dar click en
                el boton de play. Te invitamos a compartir este genial sitio con tus amigos y familiares.
            </p>
            <div class="row">
                <div class="col-sm-6"><h1>columna 1</h1></div>
                <div class="col-sm-6"><h1>columna 2</h1></div>
            </div>
        </div>
    </div>



<!--    <div class="row">-->
<!--        <div class="col-sm-12">-->
<!--            <h1>COLUMNA 12</h1>-->
<!--        </div>-->
<!--        <div class="col-sm-6">-->
<!--            <h1>COLUMNA 6</h1>-->
<!--        </div>-->
<!--        <div class="col-sm-6">-->
<!--            <h1>COLUMNA 6</h1>-->
<!--        </div>-->
<!--    </div>-->
</div>
<div class="separador"></div>

<style>
    .separador{
        margin-top: 200px;
        margin-bottom: 200px;
    }
</style>


    <h1>Hola</h1>
    <h1 id="adios" class="verde" style="color:white;background-color:black;">Adios</h1>
    <h1 class="verde">Bienvenidos</h1>
    <p class="modelo-cajas">Barcelona</p>
    <div>Liga</div>
    <h2>Emelec</h2>

    <p class="morado azul">hola mundo</p>
    <div class="verde">verde1</div>
    <p class="verde">verde2</p>

    <p class="verde azul">verde2</p>

    <style>
        p {
            color:orange;
            background-color:green;
        }


    </style>
</body>
</html>