<!DOCTYPE html>
<html lang="fr">

    <head>
        <title>Peliculas - lista</title>

        <meta charset="utf-8">
        <link rel="icon"
              href="/imagenes/logo-batman.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Header 1-6 -->
        <h1>titulo 1</h1>
        <h2>titulo 2</h2>
        <h3>titulo 3</h3>
        <h4>titulo 4</h4>
        <h5>titulo 5</h5>
        <h6>titulo 6<span>Otro parrafo</span></h6>
        <!-- parragrafh -->
        <p>este es
            <span>Otro parrafo</span>
        mi parrafo</p>
        <!-- unordered list -->
        <ul>
            <li>1</li><!-- list item -->
            <li>2</li>
        </ul>
        <!-- ordered list -->
        <ol>
            <li>a</li>
            <li>b</li>
            <li>c</li>
        </ol>

        <!-- anchor -->
        <a href="http://www.google.com" target="_blank">
            google externo
        </a>
        <a href="http://www.google.com" target="_self">
            google aqui mismo
        </a>
        <a href="http://www.google.com">
            google aqui mismo
        </a>
        <!-- image -->
        <img src="http://localhost:3000/imagenes/logo-batman.ico" alt="logo de batman">

        <form action="">
            <label form="nombre">nombre</label>
            <input id="nombre" type="text">
            <button>enviar datos</button>
        </form>

        <label form="fuera">fuera formulario</label>
        <input id="fuera" type="text">
        <button>enviar datos fuera</button>

        <style>
            table, th, td{
                border:solid black 1px;
            }
        </style>

        <table>
            <!-- table row -->
            <tr>
                <!-- table header -->
               <th>nombres</th>
                <th>apellidos</th>
            </tr>
            <tr>
                <!-- table detail -->
                <td>Angel Daniel</td>
                <td>Yanez Aguiar</td>
            </tr>
        </table>

        <iframe src="https://saew.epn.edu.ec" frameborder="0">
        </iframe>

        <div>

        </div>




    </body>

</html>